<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habit Tracker</title>
    <meta name="description" content="Final Project by Owen Ambrose" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="title">
                <h1>Habit Tracker</h1>
            </div>
            <div class="subtitle">Owen Ambrose Final Project</div>
        </div>
    </header>
    <main>
        <section id="add-habit" class="section"></section>
        <section id="habit-adder" class="section"></section>
    </main>
</body>

</html>