<div class="form-container">
    <!-- Habit buttons and input -->
    <div class="form-group">
        <label for="habitName" class="form-label">Habit Name:</label>
        <input type="text" id="habitName" class="form-input" />
    </div>
    <div class="form-group">
        <label for="goals" class="form-label">Goal per Week:</label>
        <input type="number" id="goals" class="form-input" />
    </div>
    <button id="add-habit-button" class="btn-add">Add</button>

    <div class="detail-header">
        Default Habits:
        <button id="gym" class="btn-default">Gym</button>
        <button id="read" class="btn-default">Read</button>
        <button id="study" class="btn-default">Study</button>
        <div id="counter" class="counter">0</div>
        <button id="cancel-habit" class="btn-cancel">Cancel Last</button>
    </div>

    <div id="habitDetails" class="habit-details">
        <div class="fail-message" id="fail"></div>
    </div>
</div>

<div class="tracker-container">
    <!-- Tracker part of the website -->
    <div id="tracker-buttons" class="tracker-buttons">
        <h1>Tracker</h1>
        <div id="entry-header"></div>
        <div id="date-header" class="date-header">
            <button id="previous-week" class="btn-date">Previous Week</button>
            <button id="previous-day" class="btn-date">Previous Day</button>
            <input id="calendar" type="date" class="date-input" />
            <button id="next-day" class="btn-date">Next Day</button>
            <button id="next-week" class="btn-date">Next Week</button>
        </div>
        <div id="trackHabits" class="track-habits"></div>
    </div>

    <div class="graph-section">
        <!-- Graph part of the website -->
        <h1>Graph</h1>
        <div id="bar-graph" class="bar-graph"></div>
    </div>
</div>